{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ title }} — {{ site.product_name|default:"KoNote" }}{% endblock %}

{% block content %}
<hgroup>
    <h1>{{ title }}</h1>
</hgroup>

<form method="post">
    {% csrf_token %}

    {% for field in form %}
    <label for="{{ field.id_for_label }}">
        {{ field.label }}
        {% if field.field.required %}<abbr title="{% trans 'required' %}">*</abbr>{% endif %}
    </label>
    {{ field }}
    {% if field.help_text %}<small>{{ field.help_text }}</small>{% endif %}
    {% if field.errors %}<small class="badge badge-danger">{{ field.errors.0 }}</small>{% endif %}
    {% endfor %}

    <div role="group">
        <button type="submit">{% trans "Save" %}</button>
        <a href="{% url 'clients:custom_field_admin' %}" role="button" class="outline">{% trans "Cancel" %}</a>
    </div>
</form>
{% endblock %}
