{% extends "base.html" %}
{% load i18n %}

{% block title %}{% if editing %}{% trans "Edit" %}{% else %}{% trans "New" %}{% endif %} {% trans "Event Type" %} — {{ site.product_name|default:"KoNote" }}{% endblock %}

{% block content %}
<hgroup>
    <h1>{% if editing %}{% blocktrans with name=event_type.name %}Edit {{ name }}{% endblocktrans %}{% else %}{% trans "New Event Type" %}{% endif %}</h1>
</hgroup>

<form method="post">
    {% csrf_token %}

    {% for field in form %}
    <label for="{{ field.id_for_label }}">
        {{ field.label }}
        {% if field.field.required %}<abbr title="{% trans 'required' %}">*</abbr>{% endif %}
    </label>
    {{ field }}
    {% if field.errors %}
    <small class="badge badge-danger">{{ field.errors.0 }}</small>
    {% endif %}
    {% endfor %}

    <div role="group">
        <button type="submit">{% if editing %}{% trans "Save Changes" %}{% else %}{% trans "Create Event Type" %}{% endif %}</button>
        <a href="{% url 'events:event_type_list' %}" role="button" class="outline">{% trans "Cancel" %}</a>
    </div>
</form>
{% endblock %}
